<script type="text/javascript">
  $("#show_flash").fadeOut(1000);
</script>
<div id="nav_category">
  <%= render "word_form" %>
</div>
<div id="section_word">
  <%= render Category.find(session[:category_id]).words %>
</div>
